@import "bootstrap.min.css";

@font-face {
	font-family: 'Montserrat';
	
	src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf');
	
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Kaushan";
	
	src: url('fonts/Kaushan_Script/KaushanScript-Regular.ttf');
	
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
}

.jumbotron {
	background-color: #4898ed;
	border-radius: 0;
}